@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Hiragino Sans", "Yu Gothic", "Noto Sans JP", sans-serif;
}

body {
  background-color: #fffdfb;
  color: #444444;
}
